.Menu {
    background-color: #3A1078;
    height: 40rem;
    width: 40%;
    border-radius: 20px;
    padding: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}


.flag-div{
    min-height: 200px;
    max-height: 200px;
    align-items:center;
    justify-content: center;
    display: flex;
}

.flag-div img{
    min-height: 200px;
    max-height: 200px;

}


@media screen and (max-width: 1012px) {
    .Menu{

        width:80%;
    }
}

@media screen and (min-width: 1776px) {
    .Menu {
        height: 30rem;

    }
}