.Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Buttons button{
    margin: 4rem;
    height: 15rem;
    width: 20rem;
    max-height: 4rem;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.Buttons button:hover{
    transform: scale(1.2);
}